<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="logFolderPath" value="./" />
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - [%F:%L] - %msg%n" />
    <timestamp key="byMinute" datePattern="yyyyMMdd-HHmm" />

    <appender class="ch.qos.logback.core.FileAppender" name="File">
        <file>${logFolderPath}/execution-${byMinute}.log</file>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="Console">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="it.vinmar.stub" level="debug" additivity="false">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </logger>

</configuration>